    {{> header}}
    {{> navbar}}
    
    <div class="row">
        <div class="col-8">
            <h1>
                League of legends
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia eligendi obcaecati necessitatibus at. Temporibus necessitatibus sint vero labore sunt sequi quaerat, sit deleniti unde ratione ab ea ullam facere sed.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/images.jpeg" class="img-thumbnail">
        </div>
    </div>

    {{> footer}}
    